.homeContent{
    width: 100%;
    height: auto;
    padding: 40px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.homeContent h1{
    margin-top: 10px;
    font-size: 2rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: linear-gradient(135deg, #01FFEA, #1f80ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 500;
}

.homeContent .homeContentBoxes{
    display: flex;
    flex-wrap: wrap;
    padding: 30px 0px;
    justify-content: center;
    align-items: center;
}

.homeContentBoxes .homeContentBox{
    width: 320px;
    height: 340px;
    background-color: var(--dark);
    margin: 20px;
    padding: 15px;
    border-radius: 20px;
    border: 2px solid #01FFEA;
}

.homeContentBox h2{
    text-align: center;
    font-size: 1.3rem;
    background: linear-gradient(135deg, #01FFEA, #1f80ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 500;
}

.homeContentBox p{
    line-height: 35px;
    font-size: 1.1rem;
    color: #fff;
}

@media (max-width: 1024px) and (min-width: 769px) {
}

@media (max-width: 768px) and (min-width: 425px) {
}

@media (max-width: 425px) {
    .homeContent{
        padding: 25px 10px;
    }
    .homeContentBoxes .homeContentBox{
        width: 280px;
        height: 320px;
    }
    
    .homeContentBox h2{
        font-size: 1.1rem;
        margin-bottom: 10px;
    }
    
    .homeContentBox p{
        line-height: 30px;
        font-size: .9rem;
    }

    .homeContent h1{
        font-size: 1.7rem;
    }
}

@media (max-width: 767px) {
}