.forgetPassword{
    width: 100%;
    height: calc(100vh - 120px);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.forgetPasswordFormArea{
    width: 400px;
    height: 240px;
    background-color: var(--dark);
    border: 3px solid #01FFEA;
    border-radius: 8px;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
}

.forgetPasswordFormArea h2 {
    font-size: 1.7rem;
    text-align: center;
    background: linear-gradient(135deg, #01FFEA, #1f80ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 600;
    margin-bottom: 10px;
    margin-bottom: 20px;
}

.formInputGroup {
    display: flex;
    flex-direction: column;
    margin: 8px auto;
    width: 100%;
}

.formInputGroup label {
    font-size: 1.1rem;
    margin-bottom: 5px;
    color: #fff;
}

.formInputGroup input {
    padding: 10px;
    height: 40px;
    width: 100%;
    box-sizing: border-box;
    border: 2px solid #01FFEA;
    border-radius: 8px;
    outline: none;
    color: #fff;
    background-color: var(--bg-dark);
}

.btn {
    padding: 8px 12px;
    width: 70px;
    border-radius: 8px;
    background: linear-gradient(135deg, #01FFEA, #1f80ff);
    color: #fff;
    font-weight: 600;
    margin-bottom: 30px;
    margin-top: 10px;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}